 
 

<form class='form' method='GET' action='.'>
	<input type='text' placeholder='Search..' name='Item_name' value='{{ request.GET.Item_name }}'>
	<button class='btn btn-default' type='submit'>Search</button>
</form>
 
<ul>
	{% for Item in LItem %}
		 
			<p><img src="{{ Item.item_picture }}{{ Item.item_picture.url}}" width="259px"></p>
			<p>Item Category: {{ Item.Category }}</p>
			<p>Item Name: {{ Item.Item_name }}</p>
			<p>{% if form.instance.Returned %}Claimed by {{ LItem.Returner.Last_name }}{% else %}Returned Yet{% endif %}</p>
			<small>{{ Item.category }} Time published: {{ Item.Time }} Updated {{ Item.Updated|timesince }} ago</small>
	
		</li>

	{% empty %}
		 

	{% endfor %}	
</ul>
 	