{% extends "base.html" %}
{% block content %} 
 <body >
<br><br>
<form align="right" class='form' method='GET' action='.'>
	<input type='text' placeholder='Search..' name='q' value='{{ request.GET.q }}'>
	<button class='btn btn-default' type='submit'>Search</button>
</form>	
<br><br>
 
<ul>
	{% for obj in obj %}
	
 <div class="card" align="center">
		<div> 
		<frame> <p>{{ obj.User}} <small>  {{ obj.Updated|timesince }} ago</small></p>
		<div>
		<p><img src="{{ obj.MEDIA_URL }}{{ obj.item_picture.url }}" width="300px"></p>
		<p>Item Category: {{ obj.Category }}</p>
			<p>Item Name: 	 {{ obj.Item_name }}</p>
			<p>Item Description: {{ obj.Item_description  }}</p>
			<p>Lost Place: 		 {{ obj.Location.Lost_place }}</p>
			<p>Lost Time & Date: {{ obj.Location.Time_lost }}  {{ obj.Location.Date_Lost }}</p>
			<p>Owner :                 {{ obj.Owner.Last_name }} {{ obj.Owner.First_name }} {{ obj.Owner.Course_or_Stran }}   {{ obj.Owner.Year }}</p>
</frame>
			<br><br>
			<br><br>
		</div>
		

	{% empty %}
		
	{% endfor %}	
</ul>
<body>
 	{% endblock %}