{% extends "base.html" %}
{% block content %} 
 <body >
 {% load static %}
 		        <link rel="stylesheet" href="{% static 'css/style.css' %}">
			<link rel="stylesheet" href="{% static 'css/nav.css' %}">
			<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<ul>
	{% for obj in obj %}
 
		{% if obj.Returned %}
 
<div class="w3-panel w3-card" style="
    width: 432px;
    margin-left: 400px;
	margin-bottom: 50px
    ">		 
			<strong>{{obj.User}}</strong> 	<small> {{ obj.Updated|timesince }} ago</small></p>
			<p><img src="{{ obj.MEDIA_URL }}{{ obj.image.url}}"> </p>
				<p> Item Category: {{ obj.Category }}</p>
				<p>Item Name: 	 {{ obj.Item_name }}</p>	
				<p>Item Description: {{ obj.Item_description  }}</p>
				<p>Lost Place: 		 {{ obj.Location.Lost_place }}</p>
				<p>Lost Time & Date: {{ obj.Location.Time_lost }}  {{ obj.Location.Date_Lost }}</p>
			<p>{% if obj.Returned %}Returned by: {{ obj.Returner.Last_name }} {{ obj.Returner.First_name }}{% else %}  Not Returned Yet{% endif %}</p>
			
			<p>Owner :                 {{ obj.Owner.Last_name }} {{ obj.Owner.First_name }} {{ obj.Owner.Course_or_Stran }}   {{ obj.Owner.Year }}</p>
	
		</div>
		 
 	 	{% endif %}
	 
 	
	{% endfor %}	
</ul>
<body>
 	{% endblock %}
     <script type="text/javascript" src="{% static 'css/bootstrap.css' %}"> </script>
     <script type="text/javascript" src="{% static 'css/w3.css' %}"> </script>
     <script type="text/javascript" src="{% static 'css/style.css' %}"> </script>
     <script type="text/javascript" src="{% static 'js/slim.min.js' %}"> </script>
     <script type="text/javascript" src="{% static 'js/tether.min.js' %}"> </script>
     